@model IEnumerable<PoP.Models.ApplicationUser>


@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <title>Big Picture by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>


    <!-- Intro -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1480616fa14eb4f528e20023e874972af&authkey=AdtpsofNZbQdtZ4HwEkuD3k" width="355" height="185" />
            </header>
            <p>
               <!-- Some intor text if you like -->
            </p>
           
                @Html.Partial("_LoginPartial")
           
            <footer>
                <a href="#one" class="button style2 down">More</a>
            </footer>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>What is POP</h2>
            </header>
            <p>
                POP is a revolutionary new tool to write code. With POP you can write code in cooperation
                with other programmers over the public interweb. POP makes life better, your wife more beautiful
                and you more likeable.
            </p>
        </div>
        <a href="#two" class="button style2 down anchored">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="main style2 left dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Want to make a website?</h2>
            </header>
            <p class="w3link">
                If you would like to make a website you have to learn HTML first.
                <a href="https://www.w3schools.com/" id="red">w3schools.com</a> is a great please to start.
            </p>
        </div>
        <a href="#aboutUs" class="button style2 down anchored">Next</a>
    </section>

    <!-- About us -->
    <section id="aboutUs" class="main style3 primary">
        <div class="content">
            <header>
                <h2 id="pall">The team</h2>
              <!--  <p id="pall">
                    Something about us?
                </p> -->
            </header>

            <!-- Gallery  -->
            <div class="gallery">
                <article class="from-right">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1bce226e590684cbd841cf7db00ac205a&authkey=AZahXF580d5-5kvfzR4LFnM" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1bce226e590684cbd841cf7db00ac205a&authkey=AZahXF580d5-5kvfzR4LFnM"
                             title="Jónatan Einar - Head programmer" alt=""/>
                    </a>
                </article>
                <article class="from-right">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1efe7897366ae4c898921a2906ea0f372&authkey=AcpvaTw83IULpO4gSaeMkMo" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1efe7897366ae4c898921a2906ea0f372&authkey=AcpvaTw83IULpO4gSaeMkMo"
                             title="Ólafur Brynjar - Backend specialist" alt=""/>
                    </a>
                </article>
                <article class="from-left">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1f9761a139cd24003a05e483183ef8e9a&authkey=Aa6o-CyTIxOzm-iGZHdp3jk" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1f9761a139cd24003a05e483183ef8e9a&authkey=Aa6o-CyTIxOzm-iGZHdp3jk"
                             title="Grétar - Designer" alt=""/>
                    </a>
                </article>
                <article class="from-right">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1bd734bc4b7b340b48ef36c3aaf22808e&authkey=AT9L70pPNLL7PoLs3ijQv2k" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1bd734bc4b7b340b48ef36c3aaf22808e&authkey=AT9L70pPNLL7PoLs3ijQv2k"
                             title="Garðar - Public relations manager" alt="" />
                    </a>
                </article>
                <article class="from-left">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1488ef4a01a1748ec88489438235114f2&authkey=AVvymtGX_Xdr6kbZXumTtTY" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1488ef4a01a1748ec88489438235114f2&authkey=AVvymtGX_Xdr6kbZXumTtTY"
                             title="Alexander Már - Human resources manager" alt=""/>
                    </a>
                </article>
                <article class="from-left">
                    <a href="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=10cd345b4dc6a45a6b148c1dad1c0855b&authkey=AfePca5tcGxyLbeIX8CL0Bc" class="image fit">
                        <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=10cd345b4dc6a45a6b148c1dad1c0855b&authkey=AfePca5tcGxyLbeIX8CL0Bc"
                             title="Jón Hjörtur - Intern" alt=""/>
                    </a>
                </article>

            </div>

        </div>
    </section>



    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>

</body>
</html>