@{
    ViewBag.Title = "Projectpage";
}

<head>
    <title>PoP Program on PoP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<div class="flex-container">
    <div class="flex-item" style="height:100%">
        <table class="myTable">
            <tr id="tableHead">
                <th>ID</th>
                <th onclick="sortTable(0)">Project</th>
                <th onclick="sortTable(1)">Owner</th>
            </tr>
            <tbody>
                @foreach (var FolderModel in ViewBag.Folders)
                {
                    <tr >
                        <td>
                            @Html.ActionLink("Edit Project", "TextEdit", new { id = FolderModel.id })
                        </td>
                        <td>@FolderModel.name</td>
                        <td>Your project</td>
                        
                </tr>}
           </tbody>
        </table>
    </div>
    <div class="flex-item3">
        <div class="flex-child">
            <a href="#" class="new" onclick="">
                <img src="~/Images/Icons/1494445838_editor-document-file-add-2-outline-stroke.png" height="30px" alt="NewFileIcon" />
                @Html.ActionLink("Create New Project", "CreateProject")
            </a>
        </div>
        <div class="flex-child">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445892_icons_share.png" height="30px" alt="ShareIcon" />
                Share selected item
            </a>
        </div>
        <div class="flex-child">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445777_TrashBin.png" height="30px" alt="DeleteIcon" />
                Delete selected item
            </a>
        </div>
        <div class="flex-child">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494447738_file-download.png" height="30px" alt="ImportIcon" />
                Import item
            </a>
        </div>
        <div class="flex-child">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494447999_file-upload.png" height="30px" alt="ExportIcon" />
                Export item
            </a>
        </div>
    </div>
</div>

<script>
    $('tr').click(function () {
        window.location = $(this).find('a').attr('href');
    }).hover(function () {
        $(this).toggleClass('hover');
    });
</script>