
@{
    ViewBag.Title = "Projectpage";
}
<div class="flex-container">
    <div class="flex-item">
        <table id="myTable">
            <tr id="tableHead">
                <th>ID</th>
                <th onclick="sortTable(0)">Project</th>
                <th onclick="sortTable(1)">Date</th>
                <th onclick="sortTable(2)">Owner</th>
            </tr>
            <tbody>
                @foreach (var FolderModel in ViewBag.Folders)
                {
                    <tr>
                    <tr>
                        <td>@FolderModel.id</td>
                        <td>@FolderModel.name</td>
                        <td>01/01/01</td>
                        <td>Your project</td>
                    </tr>
                </tr>}
                <tr>
                    <td>2</td>
                    <td>Webpage 1</td>
                    <td>01/01/01</td>
                    <td>Your project</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Webpage 2</td>
                    <td>01/01/02</td>
                    <td>Your project</td>
                </tr>
           </tbody>
        </table>
    </div>
    <div class="flex-item3">
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445838_editor-document-file-add-2-outline-stroke.png" height="20px" alt="NewFileIcon" />
                Create new file
            </a>
        </div>
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445835_editor-folder-add-glyph.png" height="20px" alt="NewFolderIcon" />
                Create new folder
            </a>
        </div>
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445892_icons_share.png" height="20px" alt="ShareIcon" />
                Share selected item
            </a>
        </div>
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494445777_TrashBin.png" height="20px" alt="DeleteIcon" />
                Delete selected item
            </a>
        </div>
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494447738_file-download.png" height="20px" alt="ImportIcon" />
                Import item
            </a>
        </div>
        <div class="flex-child1">
            <a href="#" class="new">
                <img src="~/Images/Icons/1494447999_file-upload.png" height="20px" alt="ExportIcon" />
                Export item
            </a>
        </div>
        
    </div>
</div>
