
@{
    ViewBag.Title = "Projectpage";
}
<div class="flex-container">
    <div class="flex-item">
        <table id="myTable">
            <tr>
                <th>3</th>
                <th onclick="sortTable(0)">Project</th>
                <th onclick="sortTable(1)">Date</th>
                <th onclick="sortTable(2)">Owner</th>
            </tr>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Webpage 1</td>
                    <td>01/01/01</td>
                    <td>Your project</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Webpage 2</td>
                    <td>01/01/02</td>
                    <td>Your project</td>
                </tr>
           </tbody>
        </table>
    </div>
    <div class="flex-item3">
        <div class="flex-item2"></div>
        <div class="flex-item2"></div>
        <div class="flex-item2"></div>
    </div>
</div>
