@model PoP.Models.EditorViewModel
@{
    ViewBag.Title = "index";
}

<header id="haeder">

</header>
<div id="editor">
 @ViewBag.Code
</div>    

@using (Html.BeginForm("SaveCode", "TextEditor", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content , new {@id = "hidden_editor" })
    <input type="submit" value="Save Code" />

}



@section scripts{
<script src="~/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });
</script>
}
