@model PoP.Models.EditorViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="haeder">

</header>
<div id="editorContainer">
<div id="editor" style="color: white;">
    @ViewBag.Code
</div>
   
</div>    
<div id="fileList">
    <table class="mytable">
        <thead id="tableHead">
            <th onclick="sortTable(0)">Filename</th>
        </thead>
        <tbody>
            @foreach (var FileModel in ViewBag.files)
            {
                <tr>
                    <td>@FileModel.name</td>
                </tr>}
        </tbody>
    </table>
</div>


@using (Html.BeginForm("SaveCode", "TextEditor", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content , new {@id = "hidden_editor" })
    <input type="submit" value="Save Code" />

}



@section scripts{
<script src="~/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/assets/js/manualjava.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    var documentID = @ViewBag.DocumentID;

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    //editor.resize();
    // þetta er ehv sem er voða fancy en það virkar ekki heh
    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });

    var codehub = $.connection.codehub;
    $.connection.codehub.url = "/signalr"
    $.connection.codehub.start().done(init);
    var silent = false;
    codehub.client.onChange = function (changeData) {
        console.log(changeData);
        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocumentID(documentID);

        editor.on("change", function (obj) {
            if(silent){
                return;
            }
            console.log(obj);
            codehub.server.onChange(obj);
        });
    });
    var connection = $.hubConnection("/signalr", { useDefaultPath: false });
</script>
}
